Source: tumbler
Section: libs
Priority: optional
Maintainer: Philip Van Hoof <philip@codeminded.be>
Build-Depends: cdbs, debhelper (>= 4.0.0), pkg-config, gtk-doc-tools, libglib2.0-dev (>= 2.16), libquillimagefilter-dev (>= 1.100112.0), libdbus-glib-1-dev, libqt4-dev, aegis-builder, python2.6, python-dbus, python-gobject, python-imaging
Standards-Version: 1.0.0

Package: tumbler
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: libduithumbnailer0
Description: Thumbnail service implementing the thumbnail management D-Bus specification

Package: tumbler-dbg
Architecture: any
Section: devel
Depends: tumbler (= ${binary:Version})
Description: Thumbnail service implementing the thumbnail management D-Bus specification
 This package contains the debug symbols.

Package: tumbler-tests
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, tumbler, maemo-video-thumbnailer, ci-testing, python2.6, python-dbus, python-gobject, python-imaging
XB-Maemo-CI-Packages: tumbler, maemo-video-thumbnailer
XB-Maemo-CI-Stage: fast, staging, acceptance
Description: Unit and Functional tests for tumbler service
 Package contains unit and functional tests for tumbler service.
